<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script> -->
    <title>Create Instrument</title>
</head>
<body>
    <div class="container" style="width: 900px;">
        <div class="nav_bar">
            <h1>New Instrument</h1>
            <a href="/home" class="btn btn-warning">Home</a>
            <a href="/users/logout" class="btn btn-primary">Logout</a>
        </div>
        <div>
            <div class="card" style="background-color: darkslategrey;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div id="popup">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                            <button onclick="popup.remove()" class="btn btn-warning">Okay</button>
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="/instruments/new" method="post" enctype="multipart/form-data" class="card-body d-flex justify-content-around">
                    <div>
                        <input type="hidden" name="user_id" value="{{ session.user_id }}">
                        <input type="hidden" name="seller_id" value="{{ session.user_id }}">
                        <input type="hidden" name="sold" value="0">
                        <div class="form-group">
                            <label for="name" class="form-label">Instrument Type:
                                <select name="name" id="name" class="btn btn-info d-block">
                                    <option value="Keyboard" selected>Keyboard</option>
                                    <option value="Trumpet">Trumpet</option>
                                    <option value="Trombone">Trombone</option>
                                    <option value="Tuba">Tuba</option>
                                    <option value="Violin">Violin</option>
                                    <option value="Viola">Viola</option>
                                    <option value="Cello">Cello</option>
                                    <option value="Flute">Flute</option>
                                    <option value="Clarinet">Clarinet</option>
                                    <option value="Oboe">Oboe</option>
                                    <option value="Saxophone">Saxophone</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="quality" class="form-label">Condition:
                                <!-- condition is a reserved word in MySQL, changed this to quality -->
                                <select name="quality" id="quality" class="btn btn-info d-block">
                                    <option value="New" selected>New</option>
                                    <option value="Excellent">Excellent</option>
                                    <option value="Very Good">Very Good</option>
                                    <option value="Good">Good</option>
                                    <option value="Fair">Fair</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="price">Price:
                                <input type="number" name="price" value="0" class="form-control">
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="description">
                                Description:
                                <textarea name="description" id="description" class="form-control" style="height: 100px; width: 300px;">{{ data.description }}</textarea>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="image">Add a Picture:
                                <br>
                                <input type="file" name="image">
                            </label>
                        </div>
                        <button type="submit" value="Submit" class="btn btn-success">Create Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>