<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script> -->
    <title>User Home</title>
</head>
<body id="bg_image">
    <div class="container" style="width: 950px;">
        <div class="nav_bar">
            <h1>Welcome, {{ session.name }}!</h1>
            <a href="/instruments/all" class="btn" id="show-all">All Instruments</a>
            <a href="/instruments/new" class="btn" id="new-post">New Post</a>
            <a href="/users/logout" class="btn" id="dash-logout">Logout</a>
        </div>
        <div class="card">
            <div class="card-body">
                <h2>My Posted</h2>
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Instrument Type</th>
                            <th scope="col">Condition</th>
                            <th scope="col">Price</th>
                            <th scope="col">Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instrument in instruments %}
                            {% if instrument.seller_id == session.user_id %}
                                {% if instrument.sold != 0 %}
                                    <tr style="background-color: darkgrey; color: black;">
                                        <th scope="row">{{ loop.index }}</th>
                                        <td><a class="inst_link" href="/instruments/{{ instrument.id }}">{{ instrument.name }}</a></td>
                                        <td>{{ instrument.quality }}</td>
                                        <td>${{ instrument.price }}</td>
                                        <td>Yes</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td><a class="inst_link" href="/instruments/{{ instrument.id }}">{{ instrument.name }}</a></td>
                                        <td>{{ instrument.quality }}</td>
                                        <td>${{ instrument.price }}</td>
                                        <td>No</td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <h2>My Purchased</h2>
                <table class="table table-striped table-bordered">
                    <thead  class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Instrument Type</th>
                            <th scope="col">Condition</th>
                            <th scope="col">Price</th>
                            <th scope="col">Bought From</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instrument in instruments %}
                            {% if instrument.sold and instrument.user_id == session.user_id %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td><a class="inst_link" href="/instruments/{{ instrument.id }}">{{ instrument.name }}</a></td>
                                    <td>{{ instrument.quality }}</td>
                                    <td>${{ instrument.price }}</td>
                                    <td>{{ instrument.seller.first_name }} {{ instrument.seller.last_name[0] }}.</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>