<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script> -->
    <title>Registration/Login</title>
</head>
<body style="background-image: url('static/images/background.jpg'); 
            background-repeat: no-repeat; background-attachment: fixed;
            background-size: cover;">
    <h1>Instrument Hub</h1>
    <div class="container d-flex justify-content-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="popup">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <button onclick="popup.remove()" class="btn btn-warning">Okay</button>
                </div>
            {% endif %}
        {% endwith %}
        <div class="card" id="reg_box">
            <h2>Register</h2>
            <form action="/users/create" method="post" class="card-body">
                <label>
                    First Name:
                    <input type="text" name="first_name" class="form-control">
                </label>
                <label>
                    Last Name:
                    <input type="text" name="last_name" class="form-control">
                </label>
                <label>
                    Email:
                    <input type="email" name="email" class="form-control">
                </label>
                <label>
                    Password:
                    <input type="password" name="password" class="form-control">
                </label>
                <label id="confirm">
                    Confirm Password:
                    <input type="password" name="confirm_password" class="form-control">
                </label>
                <input type="submit" value="Register" class="btn btn-success">
            </form>
        </div>
        <div class="card" id="login_box">
            <h2>Login</h2>
            <form action="/users/login" method="post" class="card-body">
                <label>
                    Email:
                    <input type="email" name="email" class="form-control">
                </label>
                <label>
                    Password:
                    <input type="password" name="password" class="form-control">
                </label>
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
            <div class="card-body">
                <h5>Need information on what instrument to search for?</h5>
                <a href="https://www.orsymphony.org/learning-community/instruments/" class="btn btn-info" style="margin-bottom: 10px;">Click Here!</a>
                <p style="margin-bottom: 0px;">Instruments of the Orchestra</p>
                <p class="fst-italic">- Oregon Symphony</p>
            </div>
        </div>
    </div>
</body>
</html>
