* {
    margin: auto 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin: 25px;
}

#reg_box, #login_box {
    align-items: flex-start;
    background-color: rgba(112, 128, 144, 0.7);
    padding: 20px;
    width: 340px;
    margin: 25px;
    color: #F5F5DC;
    border-radius: 12px;
}

.form-control {
    width: 250px;
    margin-bottom: 15px;
    background-color: white;
}

.btn {
    margin-top: 10px;
    color: black;
}

.btn:hover {
    filter:brightness(80%);
    color: white;
}

#popup {
    position: absolute;
    border: 1px solid black;
    border-radius: 15pt;
    background-color: rgba(255, 127, 80, 0.85);
    color: #FFFFFF;
    padding: 20px;
    z-index: 1;
}

.link {
    text-align: center;
}

.link > a {
    margin: 0 5px;
    font-size: 16pt;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    font-size: 22pt;
    align-items: baseline;
    padding: 15px 10px 0px 10px;
    margin-bottom: 25px;
}

.nav_bar > h1 {
    margin: 0px 100px 0px 0px;
}

.nav_bar > h2 {
    margin: 0px 10px;
}

.nav_bar > .btn {
    margin: 0px 10px;
}

#bg_image {
    background-image: url('background2.jpg'); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

.inst_link {
    text-decoration: none
}

.sold {
    background-color: #fc8207;
    color: pink;
}

.card {
    background-color: rgba(2, 102, 102, 0.6) !important;
    color: white;
    border-radius: 12px;
}

#reg-btn, #show-all, #one-to-all {
    background-color: #FFA500;
    border-color: #FFA500;
}

#login-btn, #new-post, #filter, #purchase-inst, #edit-post, #create-post, #edit {
    background-color: #00FF7F;
    border-color: #00FF7F;
}

#orchestra, #dash-logout, #all-logout, #one-inst-logout, #create-logout, #edit-logout {
    background-color: #00BFFF;
    border-color: #00BFFF;
}

#all-to-home, #one-inst-home, #create-to-home, #edit-to-home, #popup-close {
    background-color: #B0C4DE;
    border-color: #B0C4DE;
}

#delete-post {
    background-color: rgb(224, 135, 135);
    border-color: rgb(224, 135, 135);
}

#popup-close:hover {
    box-shadow: 0px 0px 5px 5px #FF7F50
}

#reg-btn:hover, #login-btn:hover, #orchestra:hover {
    box-shadow: 0px 0px 5px 5px #708090;
}

#create-post:hover, #edit-post:hover, #delete-post:hover, #edit:hover {
    box-shadow: 0px 0px 5px 5px #026666
}